*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/mego-auth-1.1.0/build/
/mego-dmaxloader-1.0.0/build/
/MPAndroidChartLibrary/build/
/MPAndroidChartLibrary/build/intermediates/javac/debug/classes/
/videochat-release/build/
/volley-master-release/build/